.section-header {
  padding: $paddingSection;
  background-image: url("../images/header-1.jfif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 26% 100%, 0 87%);

  .header-text {
    padding: 13rem 0;

    .header-title {
      font-family: "Playfair Display", serif;
      font-size: 5rem;
      font-weight: 800;
    }

    .header-description {
      font-size: 1.5rem;
      font-weight: 300;
      margin: 2rem 0;
    }

    .header-button {
      @include btnSeeMore;
    }
  }
}

@media screen and (max-width: 992px) {
  .section-header {
    background-image: url("../images/header-1.jfif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    clip-path: polygon(0 1%, 100% 0, 100% 91%, 22% 100%, 0 93%);
    height: 500px;
    margin-bottom: 2rem;

    .header-text {
      padding: 0;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .header-title {
        font-family: "Playfair Display", serif;
        font-size: 3rem;
        font-weight: 800;
      }

      .header-description {
        font-size: 1.1rem;
        font-weight: 300;
        margin: 2rem 0;
      }

      .header-button {
        @include btnSeeMore;
      }
    }
  }
}
